<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  <display-name>proyecto_web</display-name>
  <welcom-file-list>
  <welcom-file>index.jsp </welcom-file>
  </welcom-file-list>

  <servlet>
  <servlet-name>controller.Usuario</servlet-name>
  <servlet-class>controller.Usuario</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>controller.Usuario</servlet-name>
    <url-pattern>/usuario</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>Usuario</servlet-name>
  <servlet-class>controller.Usuario</servlet-class>
  </servlet>


  <servlet>
  <servlet-name>controller.Bolsillo</servlet-name>
  <servlet-class>controller.Bolsillo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>controller.Bolsillo</servlet-name>
    <url-pattern>/bolsillo</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>Bolsillo</servlet-name>
  <servlet-class>controller.Bolsillo</servlet-class>
  </servlet>

</web-app>